# Object files
*.o
*.obj

# Executables
a.out
*.bin
prep_1
search_1
calc
!*.c

# Data files (Exclude large datasets)
*.txt
*.dat
index_*
result_*
index.bin

# Directories
test/
doc/
bin/
.vscode/

# System
.DS_Store
Thumbs.db
*.swp