# Build Artifacts
*.o
*.obj
a.out
*.bin

# Executables
prep_*
search_*

# Data and Results
index_*
result_*
database.txt
query.txt

# Directories
test/
doc/
bin/
.vscode/

# OS/Editor
.DS_Store
Thumbs.db
*.swp